# --- PostgreSQL ---
DB_USER=taxi_user
DB_PASSWORD=your_db_password
DB_HOST=postgres
DB_NAME=taxi_db
DB_PORT=5432

# --- RabbitMQ ---
RMQ_USER=admin
RMQ_PASSWORD=your_rmq_password
RMQ_HOST=rabbitmq
RMQ_PORT=5672
RMQ_UI_PORT=15672

# --- MinIO (S3 хранилище) ---
MINIO_USER=minioadmin
MINIO_PASSWORD=your_minio_password
MINIO_PORT=9000
MINIO_UI_PORT=9001
MINIO_EXTERNAL_HOST=<SERVER_IP>:9000

# --- Redis ---
REDIS_PORT=6379
REDIS_HOST=redis

# --- Mailpit (SMTP для тестов почты) ---
SMTP_PORT=1025
MAILPIT_UI_PORT=8025
MAIL=your_email@gmail.com
PASSWORD=your_gmail_app_password

# --- Firebase ---
FIREBASE_CREDENTIALS_PATH=./serviceAccountKey.json

# --- JWT ---
SECRET_KEY=your_long_random_secret_key

# --- Services ---
ADMIN_PORT=50050
AUTH_PORT=50051
DRIVER_PORT=50052
TRIP_PORT=50053
