# --- DB ---
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=

# --- RMQ ---
RMQ_USER=
RMQ_PASSWORD=
RMQ_HOST=
RMQ_PORT=
RMQ_UI_PORT=

# --- MINIO S3 ---
MINIO_USER=
MINIO_PASSWORD=
MINIO_PORT=
MINIO_UI_PORT=

# --- REDIS
REDIS_PORT=
REDIS_HOST=

# --- MAIL ---
SMTP_PORT=
MAILPIT_UI_PORT=
MAIL=
PASSWORD=

# --- JWT ---
SECRET_KEY=

# --- Services ---
ADMIN_PORT=
AUTH_PORT=
DRIVER_PORT=
TRIP_PORT=